[submodule "WyvernEngine/vendors/nanogui"]
	path = WyvernEngine/vendors/nanogui
	url = https://github.com/wjakob/nanogui.git
[submodule "WyvernEngine/vendors/glm"]
	path = WyvernEngine/vendors/glm
	url = https://github.com/g-truc/glm.git
